<?xml version="1.0"?>
<!--
/**
 *
 *
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Prisma\Decidir\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Prisma\Decidir\Model\Ui\ConfigProvider::CODE</argument>
        </arguments>
    </type>

    <virtualType name="DecidirFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Prisma\Decidir\Model\Ui\ConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form\Cc</argument>
            <argument name="infoBlockType" xsi:type="string">Prisma\Decidir\Block\Adminhtml\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">DecidirValueHandlerPool</argument>
            <argument name="validatorPool" xsi:type="object">DecidirValidatorPool</argument>
            <argument name="commandPool" xsi:type="object">DecidirCommandPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="DecidirValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">DecidirConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="DecidirConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">Prisma\Decidir\Gateway\Config\Config</argument>
        </arguments>
    </virtualType>

    <virtualType name="DecidirCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="capture" xsi:type="string">DecidirCaptureCommand</item>
                <item name="refund" xsi:type="string">DecidirRefundCommand</item>
<!--                <item name="void" xsi:type="string">DecidirVoidCommand</item>-->
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="DecidirCaptureCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">DecidirCaptureRequest</argument>
            <argument name="transferFactory" xsi:type="object">Prisma\Decidir\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">Prisma\Decidir\Gateway\Http\Client\TransactionSale</argument>
            <argument name="handler" xsi:type="object">DecidirCaptureHandlerChain</argument>
<!--            <argument name="validator" xsi:type="object">Prisma\Decidir\Gateway\Validator\ResponseValidator</argument>-->
            <argument name="validator" xsi:type="object">Prisma\Decidir\Gateway\Validator\ValidatorPool</argument>
            <argument name="errorMessageMapper" xsi:type="object">Prisma\Decidir\Gateway\ErrorMapper\VirtualErrorMessageMapper</argument>
        </arguments>
    </virtualType>

    <!-- Refund Command -->
    <virtualType name="DecidirRefundCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="client" xsi:type="object">Prisma\Decidir\Gateway\Http\Client\TransactionRefund</argument>
            <argument name="transferFactory" xsi:type="object">Prisma\Decidir\Gateway\Http\TransferFactory</argument>
            <argument name="requestBuilder" xsi:type="object">Prisma\Decidir\Gateway\Request\RefundDataBuilder</argument>
            <argument name="validator" xsi:type="object">Prisma\Decidir\Gateway\Validator\GeneralResponseValidator</argument>
            <argument name="handler" xsi:type="object">Prisma\Decidir\Gateway\Response\RefundHandler</argument>
        </arguments>
    </virtualType>

    <!-- Void Command -->
<!--    <virtualType name="DecidirVoidCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">-->
<!--        <arguments>-->
<!--            <argument name="client" xsi:type="object">Prisma\Decidir\Gateway\Http\Client\TransactionRefund</argument>-->
<!--            <argument name="transferFactory" xsi:type="object">Prisma\Decidir\Gateway\Http\TransferFactory</argument>-->
<!--            <argument name="requestBuilder" xsi:type="object">Prisma\Decidir\Gateway\Request\RefundDataBuilder</argument>-->
<!--            <argument name="validator" xsi:type="object">Prisma\Decidir\Gateway\Validator\GeneralResponseValidator</argument>-->
<!--            <argument name="handler" xsi:type="object">Prisma\Decidir\Gateway\Response\RefundHandler</argument>-->
<!--        </arguments>-->
<!--    </virtualType>-->

    <!-- Capture response handlers -->
    <virtualType name="DecidirCaptureHandlerChain" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="debug_response_body" xsi:type="string">Prisma\Decidir\Gateway\Response\DebugBodyHandler</item>
                <item name="payment_details" xsi:type="string">Prisma\Decidir\Gateway\Response\PaymentDetailsHandler</item>
                <item name="txn_id" xsi:type="string">Prisma\Decidir\Gateway\Response\TransactionIdHandler</item>
                <item name="credit_card" xsi:type="string">Prisma\Decidir\Gateway\Response\CreditCardHandler</item>
                <item name="address_validation" xsi:type="string">Prisma\Decidir\Gateway\Response\AddressValidationHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Request Builders -->
    <virtualType name="DecidirCaptureRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="customer" xsi:type="string">Prisma\Decidir\Gateway\Request\CustomerDataBuilder</item>
                <item name="payment" xsi:type="string">Prisma\Decidir\Gateway\Request\PaymentDataBuilder</item>
                <item name="site_transaction_id" xsi:type="string">Prisma\Decidir\Gateway\Request\Order\SiteTransactionIdDataBuilder</item>
                <item name="amount" xsi:type="string">Prisma\Decidir\Gateway\Request\Order\AmountDataBuilder</item>
                <item name="token" xsi:type="string">Prisma\Decidir\Gateway\Request\TokenDataBuilder</item>
                <item name="sub_payments" xsi:type="string">Prisma\Decidir\Gateway\Request\SubPaymentsDataBuilder</item>
                <item name="currency" xsi:type="string">Prisma\Decidir\Gateway\Request\Order\CurrencyDataBuilder</item>
                <item name="description" xsi:type="string">Prisma\Decidir\Gateway\Request\DescriptionDataBuilder</item>
                <item name="establishment_data" xsi:type="string">Prisma\Decidir\Gateway\Request\Order\EstablishmentDataBuilder</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Validators -->
    <virtualType name="DecidirValidatorPool" type="Magento\Payment\Gateway\Validator\ValidatorPool">
        <arguments>
            <argument name="validators" xsi:type="array">
<!--                <item name="country" xsi:type="string">DecidirCountryValidator</item>-->
                <item name="decidirMainValidator" xsi:type="string">Prisma\Decidir\Gateway\Validator\ValidatorPool</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Prisma\Decidir\Gateway\Validator\ValidatorPool">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="payment" xsi:type="object">\Prisma\Decidir\Gateway\Validator\PaymentValidator</item>
                <item name="response" xsi:type="object">\Prisma\Decidir\Gateway\Validator\ResponseValidator</item>
            </argument>
        </arguments>
    </type>

<!--    <virtualType name="DecidirCountryValidator" type="Magento\Payment\Gateway\Validator\CountryValidator">-->
<!--        <arguments>-->
<!--            <argument name="config" xsi:type="object">Prisma\Decidir\Gateway\Config\Config</argument>-->
<!--        </arguments>-->
<!--    </virtualType>-->

    <!-- Gateway error mapping -->
    <virtualType name="Prisma\Decidir\Gateway\ErrorMapper\VirtualConfigReader" type="Magento\Payment\Gateway\ErrorMapper\VirtualConfigReader">
        <arguments>
            <argument name="fileName" xsi:type="string">decidir_error_mapping.xml</argument>
        </arguments>
    </virtualType>
    <virtualType name="Prisma\Decidir\Gateway\ErrorMapper\VirtualMappingData" type="Magento\Payment\Gateway\ErrorMapper\MappingData">
        <arguments>
            <argument name="reader" xsi:type="object">Prisma\Decidir\Gateway\ErrorMapper\VirtualConfigReader</argument>
            <argument name="cacheId" xsi:type="string">decidir_error_mapper</argument>
        </arguments>
    </virtualType>
    <virtualType name="Prisma\Decidir\Gateway\ErrorMapper\VirtualErrorMessageMapper" type="Magento\Payment\Gateway\ErrorMapper\ErrorMessageMapper">
        <arguments>
            <argument name="messageMapping" xsi:type="object">Prisma\Decidir\Gateway\ErrorMapper\VirtualMappingData</argument>
        </arguments>
    </virtualType>
</config>
