<?xml version="1.0"?>
<!--
/**
 * Copyright © IURCO and PRISMA. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_assign_data_decidir">
        <observer name="decidir_gateway_data_assign" instance="Prisma\Decidir\Observer\DataAssignObserver" />
    </event>
</config>
