<?xml version="1.0"?>
<!--
/**
 * Copyright © IURCO and PRISMA. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment" type="text" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="payway" translate="label" type="text" sortOrder="700" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PRISMA Payway</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Status</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="title" translate="label value" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Title</label>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>
                </field>
                <field id="order_status" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>New Order Status</label>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>
                    <comment>The status in which the Order will be left, after the payment is processed</comment>
                </field>
                <field id="cctypes" translate="label" type="multiselect" sortOrder="30" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Available Credit Cards</label>
                    <source_model>Prisma\Payway\Model\Config\Source\CcTypes</source_model>
                </field>
                <field id="installments" translate="label" type="multiselect" sortOrder="35" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Available Installments</label>
                    <source_model>Prisma\Payway\Model\Config\Source\Installments</source_model>
                </field>
                <field id="module_mode" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1">
                    <label>Mode</label>
                    <source_model>Prisma\Payway\Model\Config\Source\ModuleModes</source_model>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>
                </field>
                <field id="sandbox_site_id" translate="label" type="text" sortOrder="71" showInDefault="1" showInWebsite="1">
                    <label>Sandbox Site Id</label>
                    <depends>
                        <field id="*/*/active">1</field>
                        <field id="*/*/module_mode">sandbox</field>
                    </depends>
                </field>
                <field id="sandbox_public_key" translate="label" type="obscure" sortOrder="72" showInDefault="1" showInWebsite="1" >
                    <label>Sandbox Public Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="*/*/active">1</field>
                        <field id="*/*/module_mode">sandbox</field>
                    </depends>
                </field>
                <field id="sandbox_private_key" translate="label" type="obscure" sortOrder="73" showInDefault="1" showInWebsite="1">
                    <label>Sandbox Private Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="*/*/active">1</field>
                        <field id="*/*/module_mode">sandbox</field>
                    </depends>
                </field>
                <field id="production_site_id" translate="label" type="text" sortOrder="71" showInDefault="1" showInWebsite="1">
                    <label>Production Site Id</label>
                    <depends>
                        <field id="*/*/active">1</field>
                        <field id="*/*/module_mode">production</field>
                    </depends>
                </field>
                <field id="production_public_key" translate="label" type="obscure" sortOrder="72" showInDefault="1" showInWebsite="1" >
                    <label>Production Public Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="*/*/active">1</field>
                        <field id="*/*/module_mode">production</field>
                    </depends>
                </field>
                <field id="production_private_key" translate="label" type="obscure" sortOrder="73" showInDefault="1" showInWebsite="1">
                    <label>Production Private Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="*/*/active">1</field>
                        <field id="*/*/module_mode">production</field>
                    </depends>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>
                </field>
                <field id="cs_active" translate="label" type="select" sortOrder="200" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Cybersource Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>
                </field>
                <field id="cs_vertical" translate="label" type="select" sortOrder="210" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Cybersource Vertical</label>
                    <source_model>Prisma\Payway\Model\Config\Source\CsVerticals</source_model>
                    <depends>
                        <field id="*/*/active">1</field>
                        <field id="*/*/cs_active">1</field>
                    </depends>
                </field>
                <field id="cs_region_source" translate="label" type="select" sortOrder="220" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Select Region Code Source </label>
                    <source_model>Prisma\Payway\Model\Config\Source\RegionSource</source_model>
                    <depends>
                        <field id="*/*/active">1</field>
                        <field id="*/*/cs_active">1</field>
                    </depends>
                    <comment>Select your region code source to send in payment requests.</comment>
                </field>
                <field id="cs_regions_comment" type="label" translate="label comment" sortOrder="221" showInDefault="1">
                    <label>Region Codes Information</label>
                    <comment>
                        <![CDATA[
                            <p>Cybersource necesita valores específicos para identificar las distintas provincias de Argentina. Ver
                            <a href="https://decidirv2.api-docs.io/1.0/tablas-de-referencia-e-informacion-para-el-implementador/zpLTePd4PeuPdDBHN"target="_blank">
                            Tabla De Refencia
                            </a>.<p>
                             <p>Si ya tiene estos valores cargados en la tabla `directory_country_region` de su Magento, seleccione la opción Magento Default.</p>
                             <p>Caso contrario, es recomendable instalar el modulo <a href="https://github.com/holamugar/module-argentina-regions" target="blank"> Mugar_ArgentinaRegions </a> con el cual éste modulo es compatible a la versión <strong> 2.0.3 </strong></p>
                             Para mayor información referirse al <a href="https://github.com/decidir/dec_magento#regiones-argentinas" target="_blank"> README </a> del módulo.
                        ]]>
                    </comment>
                </field>
            </group>
        </section>
    </system>
</config>
